﻿<!DOCTYPE html>
<html class="fixed has-top-menu has-left-sidebar-half">
<head>
    <!-- Basic -->

    <meta charset="utf-8" />
    <title id="strPageTitle">Softserve CMS</title>

    <meta name="keywords" content="Softserve CMS" />
    <meta name="description" content="Content Management System">
    <meta name="author" content="https://www.softservedigital.co.za/">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/cms/css")
    @Scripts.Render("~/bundles/cms/modernizr")
    @*Tables Stylesheet*@
    @Styles.Render("~/Content/cms/tableStylesheets")

</head>
<body>
    <section class="body">

        <!-- start: header -->
        <header class="header header-nav-menu">
            <div class="logo-container">
                <a href="https://www.softservedigital.co.za/" class="logo" target="_blank">
                    <img src="~/Content/assets/images/softserveLogo_Container_sml.png" alt="Softserve Digital Development" />
                </a>
                <button class="btn header-btn-collapse-nav hidden-md hidden-lg" data-toggle="collapse" data-target=".header-nav">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- start: header nav menu -->
                <div class="header-nav collapse">
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1">
                        <nav>
                            <ul class="nav nav-pills" id="mainNav">
                                <li class="">
                                    @Html.ActionLink("Dashboard", "Dashboard", "CMSHome")
                                </li>
                                <li class="dropdown active">
                                    <a class="dropdown-toggle" href="#">
                                        Layouts
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">
                                                Landing Page
                                            </a>
                                        </li>
                                        <li>
                                            <a href="layouts-default.html">
                                                Default
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Boxed
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-boxed.html">
                                                        Static Header
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-boxed-fixed-header.html">
                                                        Fixed Header
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Horizontal Menu Header
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-header-menu.html">
                                                        Pills
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-header-menu-stripe.html">
                                                        Stripe
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-header-menu-top-line.html">
                                                        Top Line
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="layouts-dark.html">
                                                Dark
                                            </a>
                                        </li>
                                        <li>
                                            <a href="layouts-dark=header.html">
                                                Dark Header
                                            </a>
                                        </li>
                                        <li>
                                            <a href="layouts-two-navigations.html">
                                                Two Navigations
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Tab Navigation
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-tab-navigation-dark.html">
                                                        Tab Navigation Dark
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-tab-navigation.html">
                                                        Tab Navigation Light
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-tab-navigation-boxed.html">
                                                        Tab Navigation Boxed
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="layouts-light-sidebar.html">
                                                Light Sidebar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="layouts-left-sidebar-collapsed.html">
                                                Left Sidebar Collapsed
                                            </a>
                                        </li>
                                        <li>
                                            <a href="layouts-left-sidebar-scroll.html">
                                                Left Sidebar Scroll
                                            </a>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Left Sidebar Big Icons
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-left-sidebar-big-icons.html">
                                                        Left Sidebar Big Icons Dark
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-left-sidebar-big-icons-light.html">
                                                        Left Sidebar Big Icons Light
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Left Sidebar Panel
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-left-sidebar-panel.html">
                                                        Left Sidebar Panel Dark
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-left-sidebar-panel-light.html">
                                                        Left Sidebar Panel Light
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-submenu">
                                            <a>
                                                Left Sidebar Sizes
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="layouts-sidebar-sizes-xs.html">
                                                        Left Sidebar XS
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-sidebar-sizes-sm.html">
                                                        Left Sidebar SM
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="layouts-sidebar-sizes-md.html">
                                                        Left Sidebar MD
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="layouts-square-borders.html">
                                                Square Borders
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" href="#">
                                        Pages
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="pages-signup.html">
                                                Sign Up
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-signin.html">
                                                Sign In
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-reover-password.html">
                                                Recover Password
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-lock-screen.html">
                                                Locked Screen
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-user-profile.html">
                                                User Profile
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-session-timeout.html">
                                                Session Timeout
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-calendar.html">
                                                Calendar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-timeline.html">
                                                Timeline
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-media-gallery.html">
                                                Media Gallery
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-invoice.html">
                                                Invoice
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-blank.html">
                                                Blank Page
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-404.html">
                                                404
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-500.html">
                                                500
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-log-viewer.html">
                                                Log Viewer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="pages-search-results.html">
                                                Search Results
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown dropdown-mega">
                                    <a class="dropdown-toggle" href="#">UI Elements</a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="dropdown-mega-content">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <ul class="dropdown-mega-sub-nav">
                                                            <li>
                                                                <a href="ui-elements-typography.html">
                                                                    Typography
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Icons <span class="mega-sub-nav-toggle toggled pull-right" data-toggle="collapse" data-target=".mega-sub-nav-sub-menu-1"></span>
                                                                </a>
                                                                <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-1 collapse in">
                                                                    <li>
                                                                        <a href="ui-elements-icons-elusive.html">
                                                                            Elusive
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-icons-font-awesome.html">
                                                                            Font Awesome
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-icons-glyphicons.html">
                                                                            Glyphicons
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-icons-line-icons.html">
                                                                            Line Icons
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-icons-meteocons.html">
                                                                            Meteocons
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-tabs.html">
                                                                    Tabs
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="dropdown-mega-sub-nav">
                                                            <li>
                                                                <a href="ui-elements-panels.html">
                                                                    Panels
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-widgets.html">
                                                                    Widgets
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-portlets.html">
                                                                    Portlets
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-buttons.html">
                                                                    Buttons
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-alerts.html">
                                                                    Alerts
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-notifications.html">
                                                                    Notifications
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-modals.html">
                                                                    Modals
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-lightbox.html">
                                                                    Lightbox
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="dropdown-mega-sub-nav">
                                                            <li>
                                                                <a href="ui-elements-progressbars.html">
                                                                    Progress Bars
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-sliders.html">
                                                                    Sliders
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-carousels.html">
                                                                    Carousels
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-accordions.html">
                                                                    Accordions
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-nestable.html">
                                                                    Nestable
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-tree-view.html">
                                                                    Tree View
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-scrollable.html">
                                                                    Scrollable
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-grid-system.html">
                                                                    Grid System
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <ul class="dropdown-mega-sub-nav">
                                                            <li>
                                                                <a href="ui-elements-charts.html">
                                                                    Charts
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Animations <span class="mega-sub-nav-toggle pull-right" data-toggle="collapse" data-target=".mega-sub-nav-sub-menu-2"></span>
                                                                </a>
                                                                <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-2 collapse">
                                                                    <li>
                                                                        <a href="ui-elements-animations-appear.html">
                                                                            Appear
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-animations-hover.html">
                                                                            Hover
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="#">
                                                                    Loading <span class="mega-sub-nav-toggle pull-right" data-toggle="collapse" data-target=".mega-sub-nav-sub-menu-3"></span>
                                                                </a>
                                                                <ul class="dropdown-mega-sub-nav mega-sub-nav-sub-menu-3 collapse">
                                                                    <li>
                                                                        <a href="ui-elements-loading-overlay.html">
                                                                            Overlay
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a href="ui-elements-loading-progress.html">
                                                                            Progress
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <a href="ui-elements-extra.html">
                                                                    Extra
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- end: header nav menu -->
            </div>

            <!-- start: search & user box -->
            <div class="header-right">

                @Html.Action("SearchBox", "LayoutPartials")

                @Html.Action("OptionalTopRightNotificationsMenu", "LayoutPartials")

                @Html.Action("CMSUserDropDownMenuBox", "LayoutPartials")
                
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            <aside id="sidebar-left" class="sidebar-left">

                <div class="sidebar-header">
                    <div class="sidebar-title">
                        Navigation
                    </div>
                    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <div class="nano">
                    <div class="nano-content">
                        <nav id="menu" class="nav-main" role="navigation">

                            <ul class="nav nav-main">
                                <li>
                                    <a href="@Url.Action("Dashboard", "CMSHome")">
                                        <i class="fa fa-gamepad" aria-hidden="true"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CMSUserProfile", "CMSUsers")">
                                        <i class="fa fa-id-card" aria-hidden="true"></i>
                                        <span>Profile</span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-users" aria-hidden="true"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            @Html.ActionLink("CMS Users", "CMSUsersView", "CMSUsers")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Users", "UsersView", "Users")
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-files-o" aria-hidden="true"></i>
                                        <span>Pages</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            @Html.ActionLink("CMS Pages", "CMSPagesView", "CMSPages")
                                        </li>
                                        <li>
                                            @Html.ActionLink("Pages", "PagesView", "Pages")
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <span>Role Types</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            @Html.ActionLink("CMS Role Types", "CMSRoleTypesView", "CMSRoleTypes")
                                        </li>
                                        <li>
                                           @Html.ActionLink("Role Types", "RoleTypesView", "RoleTypes")
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-globe" aria-hidden="true"></i>
                                        <span>User Access</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            @Html.ActionLink("CMS User Access", "CMSUserAccessView", "CMSUserAccess")
                                        </li>
                                        <li>
                                            @Html.ActionLink("User Access", "UserAccessView", "UserAccess")
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="pull-right label label-primary">182</span>
                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                        <span>Mailbox</span>
                                    </a>
                                </li>
                                
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-asterisk" aria-hidden="true"></i>
                                        <span>Extra</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a href="#">
                                                Changelog
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                Ajax Made Easy
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="http://themeforest.net/item/porto-responsive-html5-template/4106987?ref=Okler">
                                        <i class="fa fa-external-link" aria-hidden="true"></i>
                                        <span>Front-End <em class="not-included">(Not Included)</em></span>
                                    </a>
                                </li>
                                <li class="nav-parent">
                                    <a href="#">
                                        <i class="fa fa-align-left" aria-hidden="true"></i>
                                        <span>Menu Levels</span>
                                    </a>
                                    <ul class="nav nav-children">
                                        <li>
                                            <a>
                                                First Level
                                            </a>
                                        </li>
                                        <li class="nav-parent">
                                            <a href="#">
                                                Second Level
                                            </a>
                                            <ul class="nav nav-children">
                                                <li>
                                                    <a>
                                                        Second Level Link #1
                                                    </a>
                                                </li>
                                                <li>
                                                    <a>
                                                        Second Level Link #2
                                                    </a>
                                                </li>
                                                <li class="nav-parent">
                                                    <a href="#">
                                                        Third Level
                                                    </a>
                                                    <ul class="nav nav-children">
                                                        <li>
                                                            <a>
                                                                Third Level Link #1
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a>
                                                                Third Level Link #2
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </nav>

                        <hr class="separator" />

                        <div class="sidebar-widget widget-tasks">
                            <div class="widget-header">
                                <h6>Projects</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content">
                                <ul class="list-unstyled m-none">
                                    <li><a href="#">Porto HTML5 Template</a></li>
                                    <li><a href="#">Tucson Template</a></li>
                                    <li><a href="#">Porto Admin</a></li>
                                </ul>
                            </div>
                        </div>

                        <hr class="separator" />

                        <div class="sidebar-widget widget-stats">
                            <div class="widget-header">
                                <h6>Company Stats</h6>
                                <div class="widget-toggle">+</div>
                            </div>
                            <div class="widget-content">
                                <ul>
                                    <li>
                                        <span class="stats-title">Stat 1</span>
                                        <span class="stats-complete">85%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                                <span class="sr-only">85% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="stats-title">Stat 2</span>
                                        <span class="stats-complete">70%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="stats-title">Stat 3</span>
                                        <span class="stats-complete">2%</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                                <span class="sr-only">2% Complete</span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <script>
				            // Maintain Scroll Position
				            if (typeof localStorage !== 'undefined') {
				                if (localStorage.getItem('sidebar-left-position') !== null) {
				                    var initialPosition = localStorage.getItem('sidebar-left-position'),
				                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');

				                    sidebarLeft.scrollTop = initialPosition;
				                }
				            }
                    </script>


                </div>

            </aside>
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2 id="h2PageHeader">Dashboard</h2>

                    <div class="right-wrapper pull-right">
                        <ol id="olBreadcrumbs" class="breadcrumbs" style="margin-right:15px;">
                            <li>
                                <a href="@Url.Action("Dashboard", "CMSHome")">
                                    <i class="fa fa-home"></i>
                                </a>
                            </li>
                            @*<li><span>Layouts</span></li>*@
                        </ol>

                        @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>*@
                    </div>
                </header>

                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->
            </section>
        </div>

        @*<aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2016-04-19T00:00+00:00">04/19/2016</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/Content/assets/images/default_image.png" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="~/Content/assets/images/default_image.png" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/Content/assets/images/default_image.png" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="~/Content/assets/images/default_image.png" alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>*@
        
    </section>

    @Scripts.Render("~/bundles/cms/jquery")
    @Scripts.Render("~/bundles/cms/jqueryval")
    @Scripts.Render("~/bundles/cms/bootstrap")
    @Scripts.Render("~/bundles/cms/layout")
    @Scripts.Render("~/bundles/cms/theme")
    @Scripts.Render("~/bundles/cms/example")

    @RenderSection("scripts", required: false)
</body>
</html>
