﻿
@{
    ViewBag.Title = "ImageOptimiser";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>

<!-- start: page -->
<section class="content-with-menu content-with-menu-has-toolbar media-gallery">
    <div class="content-with-menu-container">
        <div class="inner-menu-toggle">
            <a href="#" class="inner-menu-expand" data-open="inner-menu">
                Show Bar <i class="fa fa-chevron-right"></i>
            </a>
        </div>

        <menu id="content-menu" class="inner-menu" role="menu">
            <div class="nano">
                <div class="nano-content">

                    <div class="inner-menu-toggle-inside">
                        <a href="#" class="inner-menu-collapse">
                            <i class="fa fa-chevron-up visible-xs-inline"></i><i class="fa fa-chevron-left hidden-xs-inline"></i> Hide Bar
                        </a>
                        <a href="#" class="inner-menu-expand" data-open="inner-menu">
                            Show Bar <i class="fa fa-chevron-down"></i>
                        </a>
                    </div>

                    <div class="inner-menu-content">

                        <a class="btn btn-block btn-primary btn-md pt-sm pb-sm text-md">
                            <i class="fa fa-upload mr-xs"></i>
                            Optimise Images
                        </a>

                        <hr class="separator" />

                        <a class="btn btn-block btn-primary btn-md pt-sm pb-sm text-md">
                            <i class="fa fa-download mr-xs"></i>
                            Download Images
                        </a>

                        <hr class="separator" />

                    </div>
                </div>
            </div>
        </menu>
        <div class="inner-body mg-main">

            <div class="inner-toolbar clearfix">
                <ul>
                    <li>
                        <a href="#" id="mgSelectAll"><i class="fa fa-check-square"></i> <span data-all-text="Select All" data-none-text="Select None">Select All</span></a>
                    </li>

                </ul>
            </div>
            <div id="divDropImageArea" class="row mg-files drop-image-area" data-sort-destination data-sort-id="media-gallery">
                <div class="drop-image-area-text">
                    DRAG AND DROP IMAGES HERE OR CLICK TO UPLOAD
                </div>
                @*<input id="inAddedImages" accept="image/*" type="file" multiple name="inAddedImages" />*@

                
                @*<input id="inAddedImages" accept="image/*" type="file" multiple name="inAddedImages" style="display:none;" />*@
            </div>
        </div>       
    </div>

    @*<div class="isotope-item image col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail">
            <div class="thumb-preview">
                <a class="thumb-image" href="~/Content/assets/images/projects/project-4.jpg">
                    <img src="~/Content/assets/images/projects/project-4.jpg" class="img-responsive" alt="Project" />
                </a>
                <div class="mg-thumb-options">
                    <div class="mg-zoom"><i class="fa fa-search"></i></div>
                    <div class="mg-toolbar">
                        <div class="mg-option checkbox-custom checkbox-inline">
                            <input type="checkbox" id="file_4" value="1">
                            <label for="file_4">SELECT</label>
                        </div>
                        <div class="mg-group pull-right">
                            <i class="fa fa-check"> </i>
                            <button class="dropdown-toggle mg-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-caret-up"></i>
                            </button>
                            <ul class="dropdown-menu mg-menu" role="menu">
                                <li><a href="#"><i class="fa fa-download"></i> Download</a></li>
                                <li><a href="#"><i class="fa fa-trash-o"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="mg-title text-weight-semibold">Life<small>.png</small></h5>
            <div class="mg-description">
                <small class="pull-left text-muted">Image</small>
                <small class="pull-right text-muted">png</small>
            </div>
        </div>
    </div>*@
    
</section>
<!-- end: page -->

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Image Optimiser | Simple Complex Management CMS");
        $("#h2PageHeader").text("Image Optimiser");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><span>Image Optimiser</span></li>");

        //Create Drag and Drop Events
        $("#divDropImageArea").on('dragenter', function (e) {
            e.preventDefault();
            $(this).css('border', '#39b311 1.5px dashed');
            $(this).css('background', '#f1ffef');
        });

        $("#divDropImageArea").on('dragover', function (e) {
            e.preventDefault();
            $(this).css('border', '#39b311 1.5px dashed');
            $(this).css('background', '#f1ffef');
        });

        $("#divDropImageArea").on('dragleave', function (e) {
            e.preventDefault();
            $(this).css('border', 'none');
            $(this).css('background', 'none');
        });

        $("#divDropImageArea").on('drop', function (e) {
            //$(this).css('border', '#4571b8 2px dashed');
            //$(this).css('background', '#FFF');
            $(this).css('border', 'none');
            $(this).css('background', 'none');
            e.preventDefault();
            var image = e.originalEvent.dataTransfer.files;
            createImageData(image);
        });
    }
</script>

<script type="text/javascript">
    function createImageData(images) {

        if (images) {
            if (images.length > 0) {
                for (var i = 0; i < images.length; i++) {

                    //Image reader
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        var divImageArea = $("#divDropImageArea");

                        //Main Div
                        var imageDiv = document.createElement('div');
                        imageDiv.classList.add("isotope-item");
                        imageDiv.classList.add("image");
                        imageDiv.classList.add("col-sm-6");
                        imageDiv.classList.add("col-md-4");
                        imageDiv.classList.add("col-lg-3");

                        //Sub Div
                        var imageDivThumbnail = document.createElement('div');
                        imageDivThumbnail.classList.add("thumbnail");

                        //Sub Div Preview
                        var imageDivThumbnailPreview = document.createElement('div');
                        imageDivThumbnailPreview.classList.add("thumb-preview");

                        //Image Anchor
                        var imageDivAnchor = document.createElement('a');
                        imageDivAnchor.classList.add("thumb-image");

                        //Image
                        var imageDivAnchorImage = document.createElement('img');
                        imageDivAnchorImage.classList.add("img-responsive");
                        imageDivAnchorImage.alt = "name";
                        imageDivAnchorImage.src = e.target.result;

                        //Append items
                        imageDivAnchor.appendChild(imageDivAnchorImage);
                        imageDivThumbnailPreview.appendChild(imageDivAnchor);
                        imageDivThumbnail.appendChild(imageDivThumbnailPreview);
                        imageDiv.appendChild(imageDivThumbnail);

                        divImageArea.append(imageDiv);
                    }

                    reader.readAsDataURL(images[i]);
                }
            }
        }
    }
</script>




