﻿@model SimpleComplexManagementCMS.View_Models.UserAccess.clsUserAccessAdd

@{
    ViewBag.Title = "UserAccessAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">User Access</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmUserAccessAdd", @name = "frmUserAccessAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">User</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstUsers">Users</label>
                            <div class="col-md-8">
                                @if (Model.lstUsers.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsUserAccess.iUserID, new SelectList(Model.lstUsers, "iUserID", "strFirstName"), "-- Select A User --", new { id = "lstUsers", name = "lstUsers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsUserAccess.iUserID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsUserAccess.iUserID, new SelectList(Model.lstUsers, "iUserID", "strFirstName"), "-- No Users Available --", new { id = "lstUsers", name = "lstUsers" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsUserAccess.iUserID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Pages</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="lstPages">Page</label>
                            <div class="col-md-8">
                                @if (Model.lstPages.Count > 0)
                                {
                                    @Html.DropDownListFor(Model => Model.clsUserAccess.iPageID, new SelectList(Model.lstPages, "iPageID", "strTitle"), "-- Select A Page --", new { id = "lstPages", name = "lstPages" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsUserAccess.iPageID, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.DropDownListFor(Model => Model.clsUserAccess.iPageID, new SelectList(Model.lstPages, "iPageID", "strTitle"), "-- No Pages Available --", new { id = "lstPages", name = "lstPages" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.clsUserAccess.iPageID, "", new { @class = "text-danger" })
                                }
                            </div>
                        </div>
                    </fieldset>

                    <hr class="dotted tall">
                    <h4 class="mb-xlg">Read Write</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="bIsSetRead"></label>
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" id="bIsSetRead" onclick="jsSetRead()" />
                                    <label for="bIsSetRead">Read Access</label>
                                    @Html.HiddenFor(Model => Model.clsUserAccess.bIsRead)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="bIsSetWrite"></label>
                            <div class="col-sm-8">
                                <div class="checkbox-custom checkbox-default">
                                    <input type="checkbox" id="bIsSetWrite" onclick="jsSetWrite()" />
                                    <label for="bIsSetWrite">Write Access</label>
                                    @Html.HiddenFor(Model => Model.clsUserAccess.bIsWrite)
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("UserAccessView", "UserAccess")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

@*SET 'bIsRead' VALUE WITH JQUERY*@
<script type="text/javascript">

        function jsSetRead() {
            if ($('#bIsSetRead').is(':checked')) {
                $("#clsUserAccess_bIsRead").val(true);
            }
            else {
                $("#clsUserAccess_bIsRead").val(false);
            }
        }
</script>

@*SET 'bIsWrite' VALUE WITH JQUERY*@
<script type="text/javascript">

        function jsSetWrite() {
            if ($('#bIsSetWrite').is(':checked')) {
                $("#clsUserAccess_bIsWrite").val(true);
            }
            else {
                $("#clsUserAccess_bIsWrite").val(false);
            }
        }
</script>

<!-- information modal popup -->
<!-- item exists -->
<script type="text/javascript">
    function addItemExists() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User with selected page User Access settings already exists.',
			type: 'info',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("Add User Access Setting | Simple Complex Management CMS");
        $("#h2PageHeader").text("Add User Access Setting");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("UserAccessView", "UserAccess")'>User Access</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add User Access Setting</span></li>");

        //Check if boxes are ticked

        if ($("#clsUserAccess_bIsRead").val().toString().toLowerCase() == "true") {
            $("#bIsSetRead").prop("checked", true);
        }
        else {
            $("#bIsSetRead").prop("checked", false);
        }
        if ($("#clsUserAccess_bIsWrite").val().toString().toLowerCase() == "true") {
            $("#bIsSetWrite").prop("checked", true);
        }
        else {
            $("#bIsSetWrite").prop("checked", false);
        }

        @{
            //ADD SUCCESS NOTIFICATION
            if (TempData["bIsUserAccessRecordExists"] != null)
            {
                if ((bool)TempData["bIsUserAccessRecordExists"] == true)
                {
                    <text>
                        addItemExists();
                    </text>
                }
            }
        }
    }
</script>

