﻿@model SimpleComplexManagementCMS.View_Models.UserAccess.clsUserAccessView

@{
    ViewBag.Title = "UserAccessView";
}

@*Tables Stylesheet*@
@Styles.Render("~/Content/cms/tableStylesheets")

<!-- start: page -->

<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            @*<a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a>*@
            @*<a href="#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>*@
        </div>
        <h2 class="panel-title">User Access Settings  (@Model.lstUserAccess.Count)</h2>
    </header>
    <div class="panel-body">
        <table class="table table-bordered table-striped mb-none" id="datatable-default">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Page</th>
                    <th>Read</th>
                    <th>Write</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.lstUserAccess)
                {
                    <tr data-item-id="@item.iUserAccessID" id="@item.iUserAccessID">
                        <td style="vertical-align: middle;">@item.clsUser.strFirstName @item.clsUser.strSurname</td>
                        <td style="vertical-align: middle;">@item.clsPage.strTitle</td>
                        <td class="actions" style="font-size:2em; text-align:center; vertical-align:central;">
                            @if (item.bIsRead == true)
                            {
                                <i class="fa fa-check-square" style="color:green;"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle" style="color:red;"></i>
                            }
                        </td>
                        <td class="actions" style="font-size:2em; text-align:center; vertical-align:central;">
                            @if (item.bIsWrite == true)
                            {
                                <i class="fa fa-check-square" style="color:green;"></i>
                            }
                            else
                            {
                                <i class="fa fa-times-circle" style="color:red;"></i>
                            }
                        </td>
                        <td class="actions" style="font-size:2em; text-align:center; vertical-align:central;">
                            <a href="@Url.Action("UserAccessEdit", "UserAccess", new { @id = @item.iUserAccessID })"><i class="fa fa-pencil"></i></a>
                            &nbsp;&nbsp;&nbsp;
                            <a id="@item.iUserAccessID" class="modal-with-zoom-anim modal-basic" href="#deleteItemModal" onclick="deleteItemConfirm(@item.iUserAccessID)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-md keep-right" style="float:right;">
                    <a id="btnUserAccessAdd" href="@Url.Action("UserAccessAdd", "UserAccess")" class="btn btn-primary">Add User Access <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
@Html.HiddenFor(Model => Model.iUserAccessID)
<!-- end: page -->
<!-- Modal Animation -->
<!-- delete modal popup -->
<div id="deleteItemModal" class="zoom-anim-dialog modal-block modal-block-primary mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Are you sure?</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-question-circle"></i>
                </div>
                <div class="modal-text">
                    <p>Are you sure that you want to delete this user access setting?</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary modal-confirm-close" onclick="deleteItem()">Confirm</button>
                    <button class="btn btn-default modal-dismiss">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- delete item modal popup -->
<!-- information modal popup -->
<a id="infoItemModalAnchor" style="display:none;" class="mb-xs mt-xs mr-xs modal-basic btn btn-info" href="#infoItemModal"></a>

<div id="infoItemModal" class="modal-block modal-block-info mfp-hide">
    <section class="panel">
        <header class="panel-heading">
            <h2 class="panel-title">Information</h2>
        </header>
        <div class="panel-body">
            <div class="modal-wrapper">
                <div class="modal-icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <div class="modal-text">
                    <p>There cannot be no user access setting.</p>
                </div>
            </div>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-info modal-dismiss">OK</button>
                </div>
            </div>
        </footer>
    </section>
</div>
<!-- information modal popup -->
<!-- add item success -->
<script type="text/javascript">
    function addItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User Access setting added successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- update item success -->
<script type="text/javascript">
    function updatedItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User Access setting updated successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<!-- delete item success -->
<script type="text/javascript">
    function deleteItemSuccess() {

        var notice = new PNotify({
			title: 'Click to Close',
			text: 'User Access setting deleted successfully.',
			type: 'success',
			addclass: 'click-2-close',
			hide: false,
			buttons: {
				closer: false,
				sticker: false
			}
		});

		notice.get().click(function() {
			notice.remove();
		});
    }
</script>

<script type="text/javascript">
    function deleteItemConfirm(iItemID) {
        //SET ITEM ID TO DELETE
        $('#iUserAccessID').val(iItemID);
    }
</script>

<!-- delete item -->
<script type="text/javascript">
    function deleteItem() {

        var iUserAccessID = $('#iUserAccessID').val();

        if (iUserAccessID != 0) {
            $.ajax({
                url: '@Url.Action("UserAccessDelete", "UserAccess")',
                type: "POST",
                data: { "iUserAccessID": iUserAccessID },
                success: function (info) {
                    // states is your JSON array
                    if (info.bIsSuccess == true) {
                        window.location.href = "/CMS/UserAccess/UserAccessView/";
                    }
                }
            });
        }
    }
</script>

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function () {
        $("#strPageTitle").text("User Access | Simple Complex Management CMS");
        $("#h2PageHeader").text("User Access");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><span>User Access</span></li>");

         @{
             //ADD SUCCESS NOTIFICATION
            if (TempData["bIsUserAccessAdded"] != null)
            {
                if ((bool)TempData["bIsUserAccessAdded"] == true)
                {
                    <text>
                        addItemSuccess();
                    </text>
                }
            }
             //UPDATE SUCCESS NOTIFICATION
            if (TempData["bIsUserAccessUpdated"] != null)
            {
                if ((bool)TempData["bIsUserAccessUpdated"] == true)
                {
                    <text>
                        updatedItemSuccess();
                    </text>
                }
            }
             //DELETE SUCCESS NOTIFICATION
            if (TempData["bIsUserAccessDeleted"] != null)
            {
                if ((bool)TempData["bIsUserAccessDeleted"] == true)
                {
                    <text>
                        deleteItemSuccess();
                    </text>
                }
            }
        }
    }
</script>