﻿@model SimpleComplexManagementCMS.Models.clsMakes

@{
    ViewBag.Title = "MakeAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Make</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmMakeAdd", @name = "frmMakeAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">Make</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strTitle">Make Title</label>
                            <div class="col-md-8">
                                @Html.EditorFor(Model => Model.strTitle, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Make Name", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.strTitle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("MakesView", "Makes")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Add Make | Simple Complex Management CMS");
        $("#h2PageHeader").text("Add Make");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("MakesView", "Makes")'>Makes</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add Make</span></li>");
    }
</script>
