﻿@model SimpleComplexManagementCMS.Models.clsHomeHistoryLogs

@{
    ViewBag.Title = "HomeHistoryLogAdd";
}

<!-- start: page -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <h2 class="panel-title">Home History Log</h2>
            </header>
            <div class="panel-body">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "frmHomeHistoryLogAdd", @name = "frmHomeHistoryLogAdd" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    <h4 class="mb-xlg">Home History Log</h4>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="strTitle">Home History Log Title</label>
                            <div class="col-md-8">
                                @Html.EditorFor(Model => Model.iHomeOwnerID, new { htmlAttributes = new { @id = "strTitle", @placeholder = "Home History Log Name", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.iHomeOwnerID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <hr />
                    </div>
                        <div class="row">
                            <div class="col-md-3">
                                <a href="@Url.Action("HomeHistoryLogsView", "HomeHistoryLogs")" class="btn btn-default">Back</a>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
            }
                </div>
        </section>
    </div>
</div>
<!-- end: page -->

@**** CHANGE MASTER PAGE / LAYOUT PAGE HEADER (H2) TEXT AND PAGE TITLE AFTER PAGE LOADS ****@
<script type="text/javascript">
    window.onload = function ()
    {
        $("#strPageTitle").text("Add Home History Log | Simple Complex Management CMS");
        $("#h2PageHeader").text("Add Home History Log");

        //Update Breadcrumbs
        $("#olBreadcrumbs").append("<li><a href='@Url.Action("HomeHistoryLogsView", "HomeHistoryLogs")'>Home History Logs</a></li>");
        $("#olBreadcrumbs").append("<li><span>Add Home History Log</span></li>");
    }
</script>
